[Desktop Entry]
Name=Minecraft
Comment=Play Minecraft
Exec=/home/josh/bin/minecraft
Icon=/home/josh/.minecraft/MineCraft.png
Terminal=false
Type=Application
Categories=Game;
